{% if links %}
<div class="sidebox{% if subclass %} {{ subclass }}{% endif %}"><div>

<div class="header">
<h4><a href="{{ url }}">{{ title }}</a></h4>
</div>
{% for l in links %}
	<div class="cell">
	{# <div class="votes{% if l.sub_status == 'queued' %} queued{% endif %}"><span>{{ l.total_votes }}</span></div> #}
	{% if l.thumb %}
		{# <img data-src="{{l.thumb | noscheme}}" src="{{ globals.base_static | noscheme }}img/g.gif" alt='' class="thumbnail lazy"/> #}
		<img src="{{l.thumb | noscheme}}" alt='' class="thumbnail"/>
	{% endif %}
	<h3><a href="{{l.url}}" class="suggestion l:{{ l.id }}">{{l.title}}</a></h3>
	</div>
{% endfor %}
</div>
</div>
{% endif %}
